drop not ethertype ipv4 and not ethertype arp and not ethertype ipv6;
# Allow ssh to all hosts except ns1
accept ipprotocol tcp dport 22 and not ipdest 192.168.195.217/32;

# Allow win10 to access the DNS via port 22
accept ipprotocol tcp dport 22 and ipsrc 192.168.195.199/32 and ipdest 192.168.195.217/32;

# Allow HTTP and HTTPS
accept ipprotocol tcp dport 80 or ipprotocol tcp dport 443 or ipprotocol tcp dport 25;

# Allow our LAN to query the dns server
accept ipprotocol udp and ipdest 192.168.195.217/32;

# Allow returned UDP packets from our dns server
accept ipprotocol udp sport 53 and ipsrc 192.168.195.217/32 and ipdest 192.168.195.0/24 ;

# drop all UDP packets
drop ipprotocol udp;

# Drop TCP packets except the rules above
drop chr tcp_syn and not chr tcp_ack;

# Accept anything else. This is required since default is 'drop'.
accept;
